.item {
  padding: 13px;

  &__header {
    h3 {
      font-size: 1.2rem;
    }
  }

  &__skill {
    h4, h5 {
      margin-bottom: .5rem;
      color: #404040;
    }

    h6 {
      margin-bottom: 1rem;
    }
  }
}