.detail-box {
  position: relative;
  padding: 25px 0px;
  border-bottom: 2px solid;
  &__title {
    width: 25%;
    float: left;
  }
  &__paragraph {
    width: 75%;
    float: right;
    .DateWork {
      font-size: 14px;
    }
  }
}
.profile-photo {
  position: relative;
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 50%;
  margin: -128px auto 2px auto;
  z-index: 10;
}
.my-list {
  padding: 27px 0px;
  h2 {
    font-size: 1.3rem;
  }
}
.header-in {
  position: relative;
  .email-number {
    position: absolute;
    right: 0em;
    top: 2px;
  }
}
