*,
*::after,
*::before {
  padding: 0em;
  margin: 0em;
}
body {
  color: #ca9700;
  background: #2b2b2b;
  font-family: cursive;
  font-size: 1em;
  box-sizing: border-box;
}
a,
a:active,
a:hover {
  color: #ca9700;
}
.wrapper {
  margin: auto 5%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.col-1 {
  float: left;
  width: calc(100% / 3);
}
li ,a{
  padding: 5px 0px;
}
span{
  padding: 7px 0px;
}