body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
}

svg {
  height: 100%;
  width: 100%;
}

.main {

  margin: 0 auto;

  .section {
    position: relative;
    padding: 20px 0;
    display: flex;
    border-bottom: 2px solid;

    &__title {
      width: 25%;
      font-weight: 500;
      display: inline-block;
      font-size: 25px !important;
    }

    &__box {
      width: 75%;

      &--item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

      }

    }
  }
}

li {
  list-style: none;
}

ul {
  margin-left: 0;
}

a {
  color: inherit;
  text-decoration: none;
}