.exp {

  &__box {
    h4 {
      font-size: 1.2rem;
      margin-bottom: .5rem;
    }

    h6 {
      margin-bottom: .5rem;
      font-weight: 500;
      font-size: 1rem;


    }

    .date {
      color: rgba(0, 0, 0, .6);
      font-size: .9rem;
      margin-bottom: .5rem;
    }

  }

  &__description {
    padding: 10px 0;
  }
}

.box {
  padding-top: 20px;
}

.box:not(:last-child) {
  border-bottom: 1px solid;

}